<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-winstore-jscompat" version="0.0.1">
    <name>Windows Compatibility</name>
    <description>A plugin that includes a compatibility library for Windows Phone 8.1 apps</description>
    <license>Apache License Version 2.0</license>
    <platform name="windows">
        <hook type="before_plugin_install" src="hooks/beforePluginInstall.js" />
        <hook type="after_prepare" src="hooks/afterPrepare.js" />
        <asset src="src/winstore-jscompat.js" target="winstore-jscompat/winstore-jscompat.js" />
    </platform>
</plugin>
